#main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  #aside {
    padding: 20px;
    width: 200px;
    background-color: #eedac741;
    button {
      width: 100%;
      text-align: left;
      font-size: 17px;
      display: inline-block;
      line-height: 2.5;
      border-radius: 50px;
      cursor: pointer;
      &:hover {
        width: 100%;
        // // border-bottom: 2px solid #ffffff8c;
        // background-color: #fff;
        border-radius: 50px;
        padding: 3px;
        transition: all 0.2s;
      }
      span {
        margin-left: 10px;
      }
    }
  }
  #contents {
    width: calc(100% - 200px);
    padding: 40px;
    background-color: #eedac79f;
    .videos__inner {
      padding: 10px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      > div {
        padding: 0;
        margin: 10px;
        padding: 10px;
        width: 300px;
        height: 350px;
        border: 1px solid #ffffff;
        background-color: #eedac7b7;
        img {
          width: 280px;
          height: 250px;
          background-size: cover;
          object-fit: cover;
        }
        > h3 {
          font-size: 15px;
          margin: 5px;
          // margin-top: 100px;
          display: -webkit-box; /* 두 줄에서 끊기게 함 */
          -webkit-line-clamp: 2; /* 두 줄로 제한 */
          -webkit-box-orient: vertical; /* 수직 방향으로 레이아웃 */
          overflow: hidden;
          color: #000;
          line-height: 2;
          // background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #main {
    margin-top: 100px;
    display: inline-block;
    #aside {
      width: 100%;
    }
    #contents {
      width: 100%;
      align-items: center;
    }
  }
}

//videoConts
.video__sub {
  padding: 50px;
  margin-top: 50px;
  background-color: #eedac7b7;
  display: flex;
  justify-content: space-between;
  .left {
    width: calc(100% - 320px);
    padding: 30px;
    // background-color: #fff;
    .play {
      width: 90%;
      position: relative;
      padding-bottom: 26.65%;
      border-bottom: 1px solid #202020;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
      }
    }
    .desc {
      margin-top: 10px;
      width: 90%;

      h3 {
        font-weight: bold;
      }
      > div {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        span {
          width: 50%;
          margin-left: 30px;
        }
      }
    }
  }
  .right {
    width: 320px;
    background-color: #eedac7b7;
  }
}
